{% extends "layout.html" %}
{% block main %}
<div class="container-lg mt-3">
    <h2>Сайт: {{ url.name }}</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ url[0][0] }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url[0][1] }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url[0][2] }}</td>
                <!-- <td>{{ url[0][2].year }}-{{ url[0][2].month }}-{{ url[0][2].day }}</td> -->
            </tr>
            </tbody>
        </table>
    </div>
    <h2 class="mt-5 mb-3">Проверки</h2>
    <form action="{{ url_for('check_url', id=url[0][0]) }}" method="post">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    <div class="table-responsive">
        <table class="table table-bordered table-hover mt-2" data-test="checks">
            <thead>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </thead>
            {% if checks %}
            <tbody>
                {% for check in checks %}
                <tr>
                    <td>{{ check[0] }}</td>
                    <td>{{ check[2] }}</td>
                    <td>{{ check[3] }}</td>
                    <td>{{ check[4] }}</td>
                    <td>{{ check[5] }}</td>
                    <td>{{ check[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}
